.item{
    margin-top: 1.5rem;
}
.item-info{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-right: 1rem;
    margin-left: 1rem;
    text-align: end;
}