h2 {
    display: inline-block;
    position: relative;
    height: 100%;
    cursor: pointer;
    margin: 0;
    transition: all .5s ease-in-out;
    font-weight: 400 !important
}

.item{
    margin-bottom: 1rem;
}
.item:last-child{
    padding-bottom: 1rem;
}

.item h2:hover {
    margin-right: .5rem;
}



h2:after {
    content: '';
    width: 0px;
    height: 1.5px;
    position: absolute;
    top: 100%;
    right: 0;
    background: currentColor;
    transition: 300ms;
    margin-top: 6px;
}

h2:hover:after {
    width: 100%;
}

h2:not(:hover):after {
    left: 0;
    right: auto;
}