@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Almarai";
  background-image: url(assets/bukhari.png);
  background-attachment: scroll;
}

html {
  --title-color: #843434;
  --item-color: #541212;

  height: 100%;
  width: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
}

.glass-container {
  backdrop-filter: blur(1.15rem);
  -webkit-backdrop-filter: blur(1.15rem);
  border: 1px white solid;
  border-radius: 10px;
  margin-top: calc(3rem + 10%);
  width: 80vw;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: auto;
  transition: all 500ms ease-in-out;
}


.slider-container{
  display: inline-flex;
  height: 100%;

}

.slider-container > div{
  width: 80vw;
  min-height: 50vw;
  height: fit-content;
}

*{
  box-sizing: border-box;
}


@supports(padding:max(0px)) {
  
}