@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Almarai";
  background-color: #000000;
  background-image: url(assets/bukhari.png);
  object-fit: cover;
}

html {
  --title-color: whitesmoke;
  --primary-color: #98A755;
  --item-color: whitesmoke;

  

  height: 100%;
  width: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
}

.glass-container {
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
  border: 2px #98A755 solid;
  border-radius: 10px;
  margin-top: calc(3rem + 10%);
  width: 80vw;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
  margin: auto;
  transition: all 500ms ease-in-out;
}


.slider-container{
  display: inline-flex;
  height: 100%;

}

.slider-container > div{
  width: 80vw;
  min-height: 50vw;
  height: fit-content;
}

*{
  box-sizing: border-box;
}


.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.p-ways_logo-container{
  width: 100%;
  object-fit: contain;
  height: 10vh;
  overflow: hidden;
}
.container .glass-container h3{
  margin-top: .25rem !important;
  margin-bottom: 0 !important;
}
.p-ways_logo-container img{
  margin-top: 1rem !important;
  height: 70%;
  width: 100%;
}