::-webkit-scrollbar {
    width: .35rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    padding: 1rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--primary-color) !important;
}